.trans{
    -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease;
}
body{
    background: #e8e8e8;
    font-size:0.75em;
    -moz-user-select:none;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed','Droid Sans',arial,sans-serif;
}
.title{
    background: #f8f8f8;
    padding: 1% 1%;
}
.name{
    height: 60px;
    top: 0; left: 0;
    line-height: 60px;
    font-size: 30px;
}
.info{
    border-left: 5px solid #cfcfcf;
    padding: 0.5% 1%;
    background: #ececec;
}
.info p{
    margin: 0.5% 0;
}
