<!DOCTYPE html>
<html>
<head>
	<title>LM file</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="Content-Type" contect="text/html";charset=utf-8">
	<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/css/dir.css" media="screen"/>
</head>
<body>
	<div class="title">
		<div class='name'>{{path}}</div>
		{% if info %}
		<div class='info'>
			{% for line in info%}
				<p>{{line}}</p>
			{% end %}
		</div>
		{% end %}
	</div>
	<ul class="container">
		{% for link, name, type in names %}
		<li class="item {{type}} trans"><acronym title="{{type}} : {{name}}"><a href="{{link}}">{{name}}</a></acronym></li>
		{% end %}
	</ul>
</body>
</html>
