{% extends "layout.html" %}
{% block header %}
	<link rel="stylesheet" type="text/css" href="/css/code.css" media="screen"/>
{% end %}
{% block titlemore %}
	<div class='download'>
		<a href='/download{{path[-1]['url']}}' class='trans link-skewed'>Download</a>
	</div>
{% end %}
{% block contents %}
	<div id="AceEditor" class="AceEditor"><pre class="{{ext['ext']}}">{{text}}
		</pre>
	</div>
	<script src="/js/AceEditor/ace.js" type="text/javascript" charset="utf-8"></script>
	<script>
		var editor = ace.edit("AceEditor");
		editor.setTheme("ace/theme/iplastic");
		{% if ext['js'] is not None %}
		editor.session.setMode("ace/mode/{{ext['js']}}");
		{% end %}
		var AceEditor = document.getElementById("AceEditor");
		var title = document.getElementById('title');
		AceEditor.style.fontSize = '1.4em';
		(function(){
			function resizeAceEditor(e){
				var inheight = window.innerHeight
					|| document.documentElement.clientHeight
					|| document.body.clientHeight
					+1;
				var titleHeight = (title.innerHeight || title.clientHeight || title.offsetHeight) || 0;
				AceEditor.style.height = (inheight - titleHeight) + 'px';
			};
			resizeAceEditor();
			window.addEventListener('resize', resizeAceEditor);
		})();
	</script>
{% end %}
