{% extends "layout.html" %}
{% block header %}
	<link rel="stylesheet" type="text/css" href="/css/dir.css" media="screen"/>
	{% block dirheader %}
	{% end %}
{% end %}
{% block contents %}
	<ul class="container">
		{% block beforecontainer %}
		{% end %}
		{% for link, name, type in names %}
		<li class="item {{type}} trans responsive">
			<acronym title="{{type}} : {{name}}">
				<a href="{{link}}" {% if type=='dir_check'%} download="{{name}}" {% end %}>{{name}}</a>
			</acronym>
		</li>
		{% end %}
	</ul>
{% end %}
